:root{
    --color-violet: rgb(131, 68, 173);
    --color-white: #FEFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    color: var(--color-white);
}

h1 span{
    color: var(--color-violet);
}