:root{
    --color-violet: rgb(131, 68, 173);
    --color-white: #FEFFFF;
    --color-blue: #1C1937;
    --color-darkviolet: rgb(95, 16, 134);
}
h1,h2,p{
    font-family: "Inter",sans-serif;
    color: var(--color-white);
}
h1{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 2rem;
}
p{
    font-size: 14px;
    opacity: 0.6;
}
span{
    color: var(--color-violet);
}
.features{
    background-color: var(--color-blue);
    border: 6rem solid black;
}
.features-item{
    display: flex;
}
.features-item-content{
    flex-basis: 50%;
    margin: auto;
    padding: 0 7%;
    padding-right: 90px;
}

.features-item-content .statistics{
    display: flex;
    font-size: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    margin-top: 4rem;    
}
.features-item-content .statistics h2{
    font-size: 25px;
    font-weight: 600;
}
.features-item-content .statistics p{
    text-transform: uppercase;
}
.features-item-img{
    background-color: var(--color-darkviolet) ;
}
img{
    opacity: 0.4;
}
